/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/build/tmp/compileJava/previous-compilation-data.bin
*.class
*.cserrlog
*cache.properties
*.lock
*compiler.xml
dbhistory.dat
*.android_data_binding
*gc.properties
*gradle-wrapper.*
*jarRepositories.xml
*uiDesigner.xml
*vcs.xml
*workspace.xml
*.bin
*gradle.xml
*misc.xml
offsets.dat
build/resources/main/log4j.xml
